<!DOCTYPE html>
{% extends 'basic/base.html' %}
  {% block body-block %}
    <h1>welcome to other</h1>
    <h2>this is ana exxample of template inheritence! </h2>
    {% endblock  %}
{% load static %}

<!-- <html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}">
    </script>
    <script>alert();</script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
      </div>
    </div>
  </body>
</html> -->
