<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}">

    </script>
  </head>
  <body>
    <div class="container">
      <h1>welcome to relative url template</h1>
      <a href="{% url 'basic:other' %}">this links to other page     </a>
      <a href="{% url 'admin:index' %}">Link to admin     </a>
      <a href="{% url 'index' %}">LINK to index page</a>
  </div>

  </body>
</html>
